<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdy.b2b.api.dao.product.ProductGroupMapper">
  <resultMap id="BaseResultMap" type="com.jdy.b2b.api.model.fingercrm.ProductGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="p_no" jdbcType="BIGINT" property="pNo" />
    <result column="g_no" jdbcType="VARCHAR" property="gNo" />
    <result column="t_id" jdbcType="BIGINT" property="tId" />
    <result column="t_category_id" jdbcType="BIGINT" property="tCategoryId" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, p_no, g_no,t_id, t_category_id,create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ct_product_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectRelByPIdExcludeCategoryId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from ct_product_group pg
    where p_no = #{productId} and t_category_id != #{categoryId}
    group by t_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ct_product_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPNo">
    delete from ct_product_group
    where p_no = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByTid" parameterType="long">
    delete from ct_product_group where t_id = #{id}
  </delete>

    <delete id="deleteByPNoAndCatagroyIdAndCompanyIdAndGNo">
      DELETE FROM ct_product_group WHERE p_no = #{pId} AND t_category_id = #{categroyId} and company_id = #{companyId}
      <if test="list != null and list.size > 0">
        and g_no IN (
        <foreach collection="list" item="item" separator=",">
          #{item}
        </foreach>
        )
      </if>
    </delete>
    <insert id="insert" parameterType="com.jdy.b2b.api.model.fingercrm.ProductGroup">
    insert into ct_product_group (id, p_no, g_no, create_user, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{pNo,jdbcType=BIGINT}, #{gNo,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jdy.b2b.api.model.fingercrm.ProductGroup">
    insert into ct_product_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pNo != null">
        p_no,
      </if>
      <if test="gNo != null">
        g_no,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pNo != null">
        #{pNo,jdbcType=BIGINT},
      </if>
      <if test="gNo != null">
        #{gNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into ct_product_group (p_no,g_no,t_id, t_category_id,company_id,create_time,brokerage1,brokerage2,brokerage3,brokerage_type) values
    <foreach collection="list" separator="," item="item">
      (#{item.pNo},#{item.gNo},#{item.tId},#{item.tCategoryId},#{item.companyId},#{item.createTime},#{item.brokerage1},#{item.brokerage2},#{item.brokerage3},#{item.brokerageType})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdy.b2b.api.model.fingercrm.ProductGroup">
    update ct_product_group
    <set>
      <if test="pNo != null">
        p_no = #{pNo,jdbcType=BIGINT},
      </if>
      <if test="gNo != null">
        g_no = #{gNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdy.b2b.api.model.fingercrm.ProductGroup">
    update ct_product_group
    set p_no = #{pNo,jdbcType=BIGINT},
      g_no = #{gNo,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>