<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdy.b2b.api.dao.product.TripHotelMapper">
  <resultMap id="BaseResultMap" type="com.jdy.b2b.api.model.product.TripHotel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ph_trip_id" jdbcType="BIGINT" property="phTripId" />
    <result column="ph_hotel_id" jdbcType="BIGINT" property="phHotelId" />
    <result column="ph_pid" jdbcType="BIGINT" property="phPid" />
    <result column="ph_trip_type" jdbcType="INTEGER" property="phTripType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <resultMap id="DtoResultMap" type="com.jdy.b2b.api.model.product.TripHotelDTO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="h_name" jdbcType="VARCHAR" property="hName" />
    <result column="h_short_name" jdbcType="VARCHAR" property="hShortName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ph_trip_id, ph_hotel_id, ph_trip_type, create_time, create_user, update_time, 
    update_user,ph_pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ct_trip_hotel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ct_trip_hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jdy.b2b.api.model.product.TripHotel">
    insert into ct_trip_hotel (id, ph_trip_id, ph_hotel_id, 
      ph_trip_type, create_time, create_user, 
      update_time, update_user,ph_pid)
    values (#{id,jdbcType=BIGINT}, #{phTripId,jdbcType=BIGINT}, #{phHotelId,jdbcType=BIGINT}, 
      #{phTripType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, #{phPid,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.jdy.b2b.api.model.product.TripHotel">
    insert into ct_trip_hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phTripId != null">
        ph_trip_id,
      </if>
      <if test="phHotelId != null">
        ph_hotel_id,
      </if>
      <if test="phTripType != null">
        ph_trip_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="phPid != null">
        ph_pid,
      </if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phTripId != null">
        #{phTripId,jdbcType=BIGINT},
      </if>
      <if test="phHotelId != null">
        #{phHotelId,jdbcType=BIGINT},
      </if>
      <if test="phTripType != null">
        #{phTripType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="phPid != null">
        #{phPid,jdbcType=BIGINT}
      </if>      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdy.b2b.api.model.product.TripHotel">
    update ct_trip_hotel
    <set>
      <if test="phTripId != null">
        ph_trip_id = #{phTripId,jdbcType=BIGINT},
      </if>
      <if test="phHotelId != null">
        ph_hotel_id = #{phHotelId,jdbcType=BIGINT},
      </if>
      <if test="phTripType != null">
        ph_trip_type = #{phTripType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="phPid != null">
        ph_pid = #{phPid,jdbcType=BIGINT}
      </if>      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdy.b2b.api.model.product.TripHotel">
    update ct_trip_hotel
    set ph_trip_id = #{phTripId,jdbcType=BIGINT},
      ph_hotel_id = #{phHotelId,jdbcType=BIGINT},
      ph_trip_type = #{phTripType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      ph_pid = #{phPid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="batchUpdateByPrimaryKey" parameterType="java.util.List">
  <foreach collection="list" item="t" separator=";">
    update ct_trip_hotel
    set ph_trip_id = #{t.t.phTripId,jdbcType=BIGINT},
      ph_hotel_id = #{t.phHotelId,jdbcType=BIGINT},
      ph_trip_type = #{t.phTripType,jdbcType=INTEGER},
      create_time = #{t.createTime,jdbcType=TIMESTAMP},
      create_user = #{t.createUser,jdbcType=BIGINT},
      update_time = #{t.updateTime,jdbcType=TIMESTAMP},
      update_user = #{t.updateUser,jdbcType=BIGINT},
      ph_pid = #{t.phPid,jdbcType=BIGINT}
    where id = #{t.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into ct_trip_hotel ( ph_trip_id, ph_hotel_id, 
      ph_trip_type, create_time, create_user, 
      update_time, update_user,ph_pid)
    values 
    <foreach collection="list" item="t" separator=",">
   	  (#{t.phTripId,jdbcType=BIGINT}, #{t.phHotelId,jdbcType=BIGINT}, 
      #{t.phTripType,jdbcType=INTEGER}, #{t.createTime,jdbcType=TIMESTAMP}, #{t.createUser,jdbcType=BIGINT}, 
      #{t.updateTime,jdbcType=TIMESTAMP}, #{t.updateUser,jdbcType=BIGINT},#{t.phPid,jdbcType=BIGINT})
    </foreach>
  </insert>  
  <delete id="batchDelete" parameterType="java.util.List" >
    DELETE FROM ct_trip_hotel WHERE ph_trip_id IN 
  	<foreach collection="list" item="t" separator="," open="(" close=")">
  	#{t.id,jdbcType=BIGINT}
  	</foreach>
  </delete>
  <select id="queryHotelByTripId" resultMap="DtoResultMap">
	SELECT
		b.id as id,
		company_id,
		h_name,
		h_short_name
	FROM
		ct_trip_hotel a,
		sr_hotel b
	WHERE
		a.ph_trip_id = #{tripId}
	AND a.ph_hotel_id = b.id
  </select>
</mapper>