.price_giantScreen .price_promptBigFont{ font-size: 36px; font-weight: 500;}
.redColor_selected{border: 1px solid white;}
.redColor_selected{border:1px solid red;}
.slide_leftbtn,.slide_rightbtn{cursor: pointer;}
.slide_leftbtn:hover,.slide_rightbtn:hover{color: #ffa600;}
.nsc-weekend .d{color:white}
.active_back{background: #ffa600;}
.adde{color: #ffa600;}
.colorb{color: red; padding-left: 3px;}
.text_rig{line-height: 40px; padding-right: 10px;}
.text_rig a{font-size: 13px; color: gray;}
.text_rig a:hover{color: red;}
.travel_detailBtnSelect{padding-left: 10px;}
.travel_detailBtnSelect .active{background: #FFA600;}
.travel_detailBtnSelect a {display: inline-block;transform: skew(20deg);}
.travel_detailBtnSelect .active a { color: white !important;}

/*
.travel_adverContentList .clearfloat {display: none}
.travel_list_show {display: block !important;}*/
@charset "UTF-8";

@-webkit-keyframes flipOutYtest {
  from { -webkit-transform: perspective(1400px); transform: perspective(1400px); }
  40% { -webkit-transform: perspective(1400px) rotate3d(1, 0, 0, 60deg); transform: perspective(1400px) rotate3d(1, 0, 0, 60deg); opacity: 1; }
  50% { -webkit-transform: perspective(1400px) rotate3d(1, 0, 0, 90deg); transform: perspective(1400px) rotate3d(1, 0, 0, 90deg); opacity: 0; }
  to { -webkit-transform: perspective(1400px) rotate3d(1, 0, 0, 180deg); transform: perspective(1400px) rotate3d(1, 0, 0, 180deg); opacity: 0; }
}
.test { -webkit-animation: flipOutYtest 0.35s linear; animation: flipOutYtest 0.35s linear; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
@-webkit-keyframes flipInYtest {
  from { -webkit-transform: perspective(1400px) rotate3d(1, 0, 0, -180deg); transform: perspective(1400px) rotate3d(1, 0, 0, -180deg); opacity: 0; }
  50% { -webkit-transform: perspective(1400px) rotate3d(1, 0, 0, -90deg); transform: perspective(1400px) rotate3d(1, 0, 0, -90deg); opacity: 0; }
  60% { -webkit-transform: perspective(1400px) rotate3d(1, 0, 0, -60deg); transform: perspective(1400px) rotate3d(1, 0, 0, -60deg); opacity: 1; }
  to { -webkit-transform: perspective(1400px); transform: perspective(1400px); opacity: 1; }
}
.test2 { -webkit-animation: flipInYtest 0.35s linear; animation: flipInYtest 0.35s linear; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.wello {  margin-left: auto; margin-right: auto; height: auto; }
.wello .well-item { position: relative; float: left; overflow: hidden; z-index: 99;}
.correct { position: absolute; width: 100%; }
.opposite { min-height: 69px; width: 100%; }
.opposite div { min-height: 69px; width: 100%; }
.opposite-content { display: table; width: 100%;}
.opposite-content-text { display: table-cell; vertical-align: middle;}
.correct{text-align: center; font-size: 18px; background: white; height: 100%; line-height: 350%;}
.correct>div{height: 100%; cursor: pointer;}
.opposite-content{z-index: 99;}

.four_top{width: 410px; height: 100px;}
.four_top div{margin-bottom: 0;}
/*.four_top div>span{float: left;}*/
.four_top div>span:nth-of-type(1){height: 30px; display: inline-block;}

/*.business_intro>h4{line-height: 14px;}*/
.travel_introList{z-index: 98;}
.business_intro>h4>span{display: block; margin-bottom: 5px;}
.travel_introList_sort{margin-left: 10px;}
.ive{background: #ffa600; color: black;}
.travel_introList_sort li{padding: 0 30px; margin: 0; transform: skew(-20deg);}
.travel_introList_sort a{text-decoration: none; color: #ffa600;}
.travel_introList_sort li span{transform: skew(20deg); display: inline-block;font-size:16px;}
.business_intro .hop{color: #999; text-decoration: none;}
.line_description{padding-bottom: 0;}
.travel_introList_sort a .ive{background: #ffa600; color: black;}
.fa{padding: 0 5px;}
.sticky{position:fixed; top:0; width: 1220px; margin: 0 auto;}

.data_title{width: 100%; height: 42px; background: ghostwhite; overflow: hidden; padding-top: 13px; text-align: center;}
.data_title>a:nth-of-type(1){float: left;}
.data_title>a:nth-of-type(2){float: right;}

.everyDay_intro .line_description li p span{font-size: 14px!important;}
.everyDay_intro .line_description li h6 span{font-size: 15px!important;}
.travel_proPrice{position: relative;}
.price_pr{position: absolute; width: 155px; height: 45px; left: 0; top: 43px;} 

.more{text-decoration: none;}
.f_remark{font-size: 12px; color: gray; margin-top: 2px;}
.bottom_f{margin-bottom: 0; margin-top: 10px;}

.pri_p{position: relative;}
.pri_b{position: absolute; top: 0; display: inline-block; height: 100%; z-index: 99; width: 90px; display: none; left: 40px;} 
.togg{display: none;}

#laun{position: relative;}
#launch{display: none; padding: 0 10px 10px 10px; position: absolute; width: 500px; border: 1px solid #EEA236; background: white; left: 100px; z-index: 99; top: 45px;}
#launch ul li{width: 100%; overflow: hidden; margin-top: 10px;}
#launch ul li div:nth-of-type(1),#launch ul li div:nth-of-type(2){float: left;}
#launch ul li div:nth-of-type(1){font-weight: 700; width: 40px; height: 40px; line-height: 22px; color: #000000; font-size: 14px;}
#launch ul li div:nth-of-type(2){width: 400px; line-height: 160%;}
#launch ul li div:nth-of-type(2) span{margin-right: 10px; cursor: pointer; padding: 0px 6px; margin-top: 2px;}
#launch .two_act .active{background: #ffa600;}
#launch .two_act{overflow: hidden;}
#launch .two_act span{float: left; display: block;} 
.clear_th{cursor: pointer; left: 465px; line-height: 20px; text-align: center; position: absolute; border: 1px solid #56b4f8; color: #FFA600;  width: 20px; height: 20px;}

.padd_right{padding-right: 5px;} 
.s-today{background: #fffbc9;}
.plan_orderIntro .city-list:hover{ border: 1px solid #ffa600!important;}
.plan_top{padding-top: 5px;}
.plan_orderIntro .city-list{margin-top: 2px;}
.travel_introList_sort a li,.pages{cursor: pointer;}
.travel_detail{margin-top: 30px;}
.first{border-top: 1px solid #EAEAEA;}
.first_fb{width: 1220px!important;}

.sp{cursor: pointer;}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
