<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>代理人活跃度统计</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/agent_activity.css">
</head>
<body>
<div id="wrap">
    <div id='agent_activity'>
        <div class="record">
            <div  id="header" class="switch">
                <div class="acti_header title_header">
                    <h2 class="bg_ing">代理人活跃度统计</h2>
                    <a class='home' href="list.html"></a>
                </div>
                <div class="ul-bag">
                    <ul>
                        <li class="active" ><a data-page="total" href="#total">总计</a></li>
                        <li typ='3'><a data-page="month" href="#month">月统计</a></li>
                    </ul>
                </div>
            </div>

            <div class="date-wrap">
                <div class="tim">
                </div>
            </div>

            <div id="content">
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="./assets/js/build/common.build.js"></script>
<script type="text/javascript" src="./assets/js/build/agent_activity.build.js"></script>
</html>