<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./assets/css/list.css">
    <script>
        window.location.href = 'http://dw.fingercrm.cn/app'
    </script>
</head>
<body>
<div id="wrap">
	<div class="main">
		<div class="info">
            <div class="user_info clearfix">
                <div class="user_img"><img src="./assets/img/Group5.png"></div>
                <div class="user_introduc">
                    <p class="user_name"></p>
                    <p class="user_post"></p>
                </div>
            </div>
            <p class="tips">
                Hi，您好，类目报表都已经准备好，请在下方选择您想要查看的详情内容...
            </p>
        </div>
        <div class="ul">
            <ul>
                <li>
                    <a href="sales.html">
                        <div class="item clearfix">
                            <div><img src="./assets/img/Group4.png"></div>
                            <div>团队销售业绩统计报表</div>
                            <div><img src="./assets/img/right-arrow.png"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="agent.html">
                        <div class="item clearfix">
                            <div><img src="./assets/img/Group5.png"></div>
                            <div>代理拓展统计报表</div>
                            <div><img src="./assets/img/right-arrow.png"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="product.html">
                        <div class="item clearfix">
                            <div><img src="./assets/img/Group6.png"></div>
                            <div>产品销售统计报表</div>
                            <div><img src="./assets/img/right-arrow.png"></div>
                        </div>
                    </a>
                </li>
                <li class='personLi' style="display: none;">
                    <a href="person.html">
                        <div class="item clearfix">
                            <div><img src="./assets/img/Group7.png"></div>
                            <div>个人销售业绩排行</div>
                            <div><img src="./assets/img/right-arrow.png"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="agent_activity.html">
                        <div class="item clearfix">
                            <div><img src="./assets/img/Group8.png"></div>
                            <div>代理人活跃度报表</div>
                            <div><img src="./assets/img/right-arrow.png"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
	</div>
</div>
</body>
<script type="text/javascript" src="./assets/js/build/common.build.js"></script>
<script type="text/javascript" src="./assets/js/build/list.build.js"></script>
</html>