<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./assets/css/login.css">
</head>
<body>
<div id="wrap">
	<div class="main">
		<div class="logo">
			<img src="./assets/img/logo.png">
		</div>
		<div class="infor">
			<div class="item username clearfix">
				<div class="label-img">
					<img src="./assets/img/login/user.png">
				</div>
				<div class="label-body">
					<input type="text" placeholder="请输入用户名">
				</div>
			</div>
			<div class="item password clearfix">
				<div class="label-img">
					<img src="./assets/img/login/pwd.png">
				</div>
				<div class="label-body">
					<input type="password" placeholder="请输入密码">
				</div>
			</div>
		</div>
		<div class="reme active">
			记住账号密码
		</div>
		<div class="submit" id="submit">登&#x3000;&#x3000;录</div>
	</div>
</div>
</body>
<script type="text/javascript" src="./assets/js/build/common.build.js"></script>
<script type="text/javascript" src="./assets/js/build/login.build.js"></script>
</html>