<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>产品销售统计报表</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/product.css">
</head>
<body>
	<div id="wrap">
		<div id="product">
			<div class="record">
          <div  id="header" class="switch">
              <div class="acti_header">
                  <a class="home"  href="list.html"></a>
              </div>
              <div class="ul-bag">
                  <ul>
                      <li typ="2" class="active" ><a href="#day">日统计</a></li>
                      <li typ='3'><a href="#week">周统计</a></li>
                      <li typ="1"><a href="#month">月统计</a></li>
                      <li typ="4"><a href="#season">季统计</a></li>
                      <li typ="5"><a href="#year">年统计</a></li>
                  </ul>
              </div>
          </div>

          <div class="date-wrap">
              <div class="tim"> 
                
              </div>
          </div>
          
          <div id="content">

          </div>
          
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="./assets/js/build/common.build.js"></script>
<script type="text/javascript" src="./assets/js/build/product.build.js"></script>
</html>