<div class="load_footer">
    <div class="box_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-9 service_intro">

                    <div class="col-xs-3">
                        <h4>新手上路</h4>
                        <ul>
                            <li><a href="contentDetail.html?id=32">推荐有奖</a></li>
                            <li><a href="contentDetail.html?id=30">门店须知</a></li>
                            <li><a href="contentDetail.html?id=31">如何支付</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>服务平台</h4>
                        <ul>
                        	<li><a href="contentDetail.html?id=26">金融贷款</a></li>
                            <li><a href="contentDetail.html?id=27">订单代付</a></li>
                            <li><a href="contentDetail.html?id=28">分期付款</a></li>
                            <li><a href="contentDetail.html?id=29">产业投资</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加盟合作</h4>
                        <ul>
                            <li><a href="contentDetail.html?id=33">供应合作</a></li>
                            <li><a href="contentDetail.html?id=34">分销合作</a></li>
                            <li><a href="contentDetail.html?id=36">资源合作</a></li>
                            <li><a href="contentDetail.html?id=35">区域代理</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>关于金豆云</h4>
                        <ul>
                            <li><a href="contentDetail.html?id=22">企业简介</a></li>
                            <li><a href="contentDetail.html?id=23">发展规划</a></li>
                            <li><a href="contentDetail.html?id=24">技术优势</a></li>
                            <li><a href="contentDetail.html?id=25">诚聘精英</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-3">
                    <div class="col-xs-6 app_QRCode">
                        <p>关注金豆云商学院</p>
                        <div>
                            <img src="http://img.jdytrip.cn/img/wx_sxy.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-xs-6 app_QRCode">
                        <p>关注微信公众号</p>
                        <div>
                            <img src="http://img.jdytrip.cn/img/wx.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p class="yellow_line"></p>
        <div class="permission">
            <!-- <p>旅行业务经营许可编号：A-AA-AA00000</p> -->
            <p>Copyright &copy; 2017 www.jdytrip.cn. 金豆云旅游</p>
            <!--<div class="organization_permission">
                <span><img src="" alt=""/></span>
                <span><img src="" alt=""/></span>
                <span><img src="" alt=""/></span>
                <span><img src="" alt=""/></span>
                <span><img src="" alt=""/></span>
            </div>-->
            <div class="clearfloat friendly_link">
                <div style="display: inline-block;">
                    <span>友情链接：</span>
                    <!-- <a href="https://qpay.qq.com"><span>qq钱包</span></a>
                    <a href="http://www.feiren.com"><span>腾邦国际</span></a>
                    <a href="https://www.tripadvisor.cn"><span>TripAdvisor</span></a> -->
                    <!-- <a href="#"><span>户外运动</span></a> -->
                    <!-- <a href="http://map.baidu.com"><span>地图查找</span></a>
                    <a href="https://lvyou.baidu.com"><span>百度旅游</span></a>
                    <a href="http://www.cncn.com"><span>欣欣旅游网</span></a>
                    <a href="http://hotel.elong.com"><span>艺龙旅游指南</span></a>
                    <a href="http://www.mipang.com"><span>米胖网</span></a> -->
                    <!-- <a href="#"><span>长岛旅游</span></a> -->
                    <!-- <a href="http://www.5fen.com"><span>五分旅游网</span></a>
                    <a href="http://www.lvmama.com"><span>驴妈妈旅游网</span></a> -->
                    <a target="_blank" href="http://www.chunxiao.cn/index.html"><span>春晓资本</span></a>
                    <a target="_blank" href="http://www.rongcapital.cn/"><span>融数金服</span></a>
                    <a target="_blank" href="http://www.fingercrm.cn/"><span>指尖微客</span></a>
                    <a target="_blank" href="http://www.ruixuesoft.com/home"><span>瑞雪科技</span></a>
                    <a target="_blank" href="http://www.fangcang.com/"><span>泰坦云</span></a>
                    <a target="_blank" href="http://www.eventown.com/"><span>会唐网</span></a>
                </div>
                <!-- <div style="display: inline-block;">
                    <a href="##"><span>更多>></span></a>
                </div> -->
            </div>
        </div>
    </div>
</div>