<div class="message">
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 100px;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">系统维护通知</h4>
				</div>
				<div class="modal-body" style="padding: 30px 50px 50px; font-size: 16px;">
					尊敬的用户：金豆云将于<span style="color: #f00;">本周日（2017-08-13）晚22:00-次日6:00</span>升级服务器，升级期间金豆云将暂停服务，请各位合作伙伴提前做好工作安排，由此带来不便，敬请谅解！
				</div>
			</div>
		</div>
	</div>
</div>