<div class="payQuestion">
    <!-- Modal -->
    <div class="modal fade" id="payQuestion_modal" tabindex="-1" role="dialog" aria-labelledby="payQuestion_ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal_borderBg">
                <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="payQuestion_ModalLabel">付款遇到问题</h4>
                        </div>
                        <div class="modal-body">

                            <div class="clearfloat">
                                  <span class="pull-left ion_warningPay"></span>
                                  <div class="pull-left">
                                      <h4>请您在新打开的页面完成付款</h4>
                                      <span class="fontGray">付款完成前请不要关闭此窗口</span><br/>
                                      <span class="fontGray">完成付款后请根据您的情况点击下面的按钮</span>
                                  </div>
                            </div>
                            <div class="judge_btns clearfloat">
                                <button class="pull-left complete_pay">已完成支付</button>
                                <button class="pull-right pay_findQuestion">支付遇到问题</button>
                            </div>
                            <div class="again_selectPayMethod">
                                <span>
                                    <span>如需要重新选择付款方式请练习客服:&nbsp;<span class="hotsoso">400-900-9000</span></span>
                                </span>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>
