<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>金豆云旅游</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script id="link-css" type="text/javascript">
        var date = new Date();
        var _TimeStamp = String(date.getFullYear()) + (date.getMonth()+1) + date.getDate() + date.getHours();
        document.write(
            '<link rel="stylesheet" type="text/css" href="css/travel.css?t='+_TimeStamp+'">'
        );
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="order_navbar">
    <div class="box_wrapper clearfloat">
        <div class="pull-left order_jdyLogo">
            <img src="img/1_03.png" alt="">
        </div>
        <div class="pull-right">
            <div class="pull-left">
                <span>欢迎您!</span>
                <span class="hotsoso" id="user_name">喵喵</span>
            </div>
            <span class="pull-left">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <div class="pull-left">
                <span>无锡彩虹假期旅游有限公司</span>
            </div>
            <span class="pull-left">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <div class="pull-left">
                <a href="#">管理中心</a>
            </div>
            <span class="pull-left">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <div class="pull-left">
                <a href="#">安全退出</a>
            </div>
        </div>
    </div>
</div>
<div class="order_step pay">
    <div class="box_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-4 order_stepWriting">
                    <span>1:填写订单信息</span>
                </div>
                <div class="col-md-4 col-xs-4 order_stepPayMethod">
                    <span>2:选择支付方式</span>
                </div>
                <div class="col-md-4 col-xs-4 order_stepSuccess">
                    <span>3:预定成功</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="order_simple">
    <div class="box_wrapper">
        <div class="order_simpleInfo">
            <h4>
                <span>海南三亚</span>
                <span>-</span>
                <span>蜈支洲岛</span>
                <span>-</span>
                <span>天堂</span>
                <span>天涯6日游</span>
                <span>&gt;</span>
                <span>全年爆单,</span>
                <br>
                <span>经典路线，含全程酒店，漫步三亚</span>

            </h4>
            <div class="clearfloat">
                <span class="pull-left hotsoso">杭州西湖，西溪湿地7日游</span>
                <p class="pull-right">
                    <span class="priceColor_danger"><span>&yen</span><span>899.00</span></span><span>元</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pay_method">
    <div class="box_wrapper">
        <div class="pay_methodSelect">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="pull-left">
                    <span>支付方式:</span>
                </li>
                <li role="presentation" class="active"><a href="#balance" aria-controls="balance" role="tab" data-toggle="tab">余额支付</a></li>
                <li role="presentation"><a href="#credit" aria-controls="credit" role="tab" data-toggle="tab">信用支付</a></li>
                <li role="presentation"><a href="#pay_internet" aria-controls="pay_internet" role="tab" data-toggle="tab">网上支付</a></li>
                <li class="pull-right">
                    <button class="pay_orderDetail">订单详情</button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active balance_payMethod" id="balance">
                  <form class="container ">
                      <div class="row">
                          <ul>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/>
                                      </div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect active"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                      <img src="" alt=""/></div>
                                  </label>
                              </li>
                          </ul>

                      </div>
                      <div class="row">
                          <ul>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/>
                                      </div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                              <li class="col-md-2 col-xs-2">
                                  <label for="">
                                      <span class="ion_payMethodSelect"></span><input type="hidden"/>
                                      <div class="payMethod_bg">
                                          <img src="" alt=""/></div>
                                  </label>
                              </li>
                          </ul>

                      </div>
                      <div class="row">

                          <button type="button" class="confirm_payBtn" data-toggle="modal" data-target="#payQuestion_modal">确认支付</button>
                      </div>
                  </form>

                </div>
                <div role="tabpanel" class="tab-pane" id="credit">2</div>
                <div role="tabpanel" class="tab-pane" id="pay_internet">3</div>

            </div>

        </div>
    </div>
</div>
<div class="question_answer">
    <div class="box_wrapper">
        <div class="remittance_info">
            <h5 class="hotsoso">汇款信息:</h5>
            <div>
                <p><span>账&nbsp;&nbsp;&nbsp;&nbsp;户:</span><span>781548415414154</span></p>
                <p><span>户&nbsp;&nbsp;&nbsp;&nbsp;名:</span><span>杭州珺墨网络科技有限公司</span></p>
                <p><span>开户行:</span><span>中国银行杭州支行</span></p>
            </div>
        </div>
        <div class="remittance_info">
            <h5 class="hotsoso">付款遇到问题:</h5>
            <div>
               <p>1.网上支付怎么没有我想要的银行</p>
                <p class="pay_fontGray">答:我们是一个B2B平台,只有合作伙伴报备过的个人银行才能使用网上支付功能。</p>
            </div>
        </div>
        <div class="remittance_info">

            <div>
                <p>2.什么是POS支付</p>
                <p class="pay_fontGray">答:我们的平台为合作伙伴免费提供POS机端,可以通过借记卡,信用卡等支付订单款项，用于平台支付所产生的手续费由平台承担。</p>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
<div id="payQuestion"></div>
</body>
<script src="js/lib/jquery-1.11.3.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script id="link-js" type="text/javascript">
    document.write(
        '<script type="text/javascript" src="js/payMehod.js?t='+_TimeStamp+'"></'+'script>'
    );
    document.getElementById('link-css').remove();
    document.getElementById('link-js').remove();
</script>
</html>