<div>
    <!-- Modal -->
    <div class="modal fade" id="regist_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal_borderBg">
                <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">请输入短息验证码！</h4>
                        </div>
                        <div class="modal-body">

                            <div class="clearfloat" id="cur_input">
                                  <span class="pull-left ion_warningPay"></span>
                                  <div class="pull-left">
                                      <input class="" type="text"/>
                                  </div>
                            </div>
                            <div class="judge_btns clearfloat" id="jdy_curs">
                                <button class="pull-left">确认</button>
                                <button class="pull-right">取消</button>
                            </div>
                            <div class="again_selectPayMethod">
                                <span>
                                    <span>如需要重新选择付款方式请练习客服:&nbsp;<span class="hotsoso">400-900-9000</span></span>
                                </span>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>
