<div class="message">
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 100px;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">系统维护通知</h4>
				</div>
				<div class="modal-body" style="padding: 30px 50px 50px; font-size: 16px;">
					4月24日<span style="color: #f00;">20:00-21:00</span>，芒果卉旅游网对在线支付功能进行升级维护，在此期间我们将暂时关闭在线支付（个人网银、企业网银），但不影响信用额度的支付。由此带来的不便，敬请谅解。
				</div>
			</div>
		</div>
	</div>
</div>