<div class="login packmodal">
    <!-- Modal -->
    <div class="modal fade" id="pactModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-d">
            <div class="modal-content ionos modal-contents">
                <div class="modal-header">
                    <span class="login_jdyLogo"></span>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="login_closeFont">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">芒果卉分销商注册事项</h4>
                </div>
                <div class="label-text">
               <h3 class="textcen"> 用户注意事项（分销商适用）</h3>

<h4>一、适用对象</h4>
<p>&#x3000;各分销商，包括门店、地接社。</p>

<h4>二、注册</h4>
<p>1．定义</p>
    <p>&#x3000;用户，指具有完全民事行为能力的芒果卉各项服务的使用者且与芒果卉签订《用户注册事项》并完成注册程序的用户。</p>
<p>2．注册者资格</p>
    <p>&#x3000;您确认，在您完成注册程序或以其他芒果卉允许的方式实际使用芒果卉服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果，且芒果卉有权注销您的芒果卉账户，并向您及您的监护人索偿。
    如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，芒果卉有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部芒果卉服务，芒果卉对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</p>

<h4>三、芒果卉平台使用说明及支付方式</h4>
<p>&#x3000;1．线上产品采购时，分销商对旅游产品的品质须自己鉴别、把控。</p>
<p>&#x3000;2．芒果卉目前暂时不对供应商的产品质量作担保。</p>
<p>&#x3000;3．支付方式</p>
<p> &#x3000;A．在线支付，通过芒果卉平台采购供应商的产品。</p>
<p> &#x3000;B．线下支付，不通过第三芒果卉平台采购产品。</p>

    注：如果您在线支付，您应当准确填写您的账户信息，以便芒果卉与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用芒果卉服务过程中产生任何损失或增加费用的，应由您独自承担全部责任。

<h4>四、分销商资质提供</h4>
    <p>&#x3000;分销商应向平台提供如下资质材料：企业营业执照（五证合一）、行业经营许可证、法人身份证正反面复印件。</p>
                </div>
</div>
         <div class="modal-content ionws modal-contents">
                <div class="modal-header">
                    <span class="login_jdyLogo"></span>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="login_closeFont">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">芒果卉分销商注册事项</h4>
                </div>
                <div class="label-text">
                    <h3 class="textcen"> 用户注意事项（供应商适用）</h3>
                    <h4>一、适用对象</h4>
<p>&#x3000;与芒果卉平台签署了《供应商协议》的目的地产品供应商。</p>

<h4>二、注册</h4>
<p>1．定义</p>
   <p> &#x3000;用户，指具有完全民事行为能力的芒果卉各项服务的使用者且与芒果卉签订《用户注册事项》并完成注册程序的用户。</p>
<p>2．注册者资格</p>
   <p>&#x3000;您确认，在您完成注册程序或以其他芒果卉允许的方式实际使用芒果卉服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果，且芒果卉有权注销您的芒果卉账户，并向您及您的监护人索偿。
    如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，芒果卉有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部芒果卉服务，芒果卉对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</p>

<h4>三、芒果卉平台规范及结算方式</h4>
<p>1．在使用芒果卉服务过程中，您承诺遵守以下约定：</p>
    <p>&#x3000;在使用芒果卉服务过程中实施的所有行为均遵守国家法律、法规等规范性文件及芒果卉各项事项、规则的约定和规范，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本事项及芒果卉相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担全部法律责任，并确保芒果卉免于因此产生任何损失。
    在芒果卉交易平台与其他会员进行交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。</p>
    <p>&#x3000;不在芒果卉平台发布任何违法或违规信息，包括但不限于任何妨碍社会治安或非法、虚假、骚扰性、侮辱性、恐吓性、伤害性、破坏性、挑衅性、淫秽色情性等内容的信息、涉嫌侵犯他人知识产权或其它合法权益的信息、违背社会公共利益或公共道德或芒果卉认为不适合在芒果卉平台发布的信息、国家禁止销售的或限制销售的商品或服务信息、其它涉嫌违法或违反本事项及芒果卉各类规则的信息。</p>
    <p>&#x3000;不对芒果卉平台上的任何数据作商业性利用，包括但不限于在未经芒果卉事先书面同意的情况下，以复制、传播等任何方式使用芒果卉平台上展示的资料。</p>
    <p>&#x3000;不使用任何装置、软件或例行程序干预或试图干预芒果卉平台的正常运作或正在芒果卉平台上进行的任何交易、活动。您不得采取任何将导致不合理的庞大数据负载加诸芒果卉平台网络设备的行动。</p>

<p>2．结算方式</p>
    <p>&#x3000;入驻芒果卉平台的供应商有两种结算方式：一种是分销商未在线支付的，供应商无需承担此项费用。另一种是分销商在线支付的，供应商需承担以下费用。其中，
    平台服务费，是指分销商购买供应商产品并向供应商支付款项而产生的第三方支付通道等费用；按照交易额的3‰（千分之三）收取，使用平台结算时实时扣除并支付给第三方；通道提取费用，供应商提现时，按照3元/笔收取通道提取费，供应商提现时实时扣除。</p>
    <p>&#x3000;供应商通过芒果卉平台销售旅游产品而获得的款项，由平台代收并按照如下方式结算：</p>
    <p>&#x3000;如果供应商在平台指定的收款账号为其公司账号，且分销商于当日15点之前支付款项的，则当日供应商账户内可以实时显示入账信息，并可于T+0日进行提现；若分销商于当日15点之后支付款项的，则当日供应商账户内可以实时显示入账信息，并可于T+1日进行提现；</p>
    <p>&#x3000;如果供应商在平台指定的收款账号为其委托收款的其他第三方个人账号，则当日供应商账户内可以实时显示入账信息，并可于T+1日进行提现。</p>
    <p>&#x3000;您应当准确填写您的账户信息，以便芒果卉与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用芒果卉服务过程中产生任何损失或增加费用的，应由您独自承担全部责任。</p>
    <p>&#x3000;注：供应商分为公帐入账和私帐入账两种。</p>
    <p>&#x3000;公账入账的，如果门店付款在15点之前的，就可以做到T+0结算；如果门店付款在15点之后的，就可以做到T+1结算（T代表today，也就是当天，T+1就是第二天）。</p>
    <p>&#x3000;私帐入账的，只能是T+1入账。</p>

<h4>四、供应商的权利和义务</h4>
<p>&#x3000;入驻平台，应提供如下资质材料：企业营业执照（五证合一）、行业经营许可证、经法定代表人签署的《授权委托书》、旅行社责任险。</p>

<p>各区域市场负责人</p>
<p>&#x3000;江苏市场  谢国富  18069820789</p>
<p>&#x3000;上海市场  赵鸿翔  15988897799</p>
<p>&#x3000;山东市场  邢忠亚  13957151746</p>
<p>&#x3000;浙江市场  朱佳琦  13735567904</p>
<p>&#x3000;安徽市场  徐向中  13968026529</p>
                </div>
        </div>
    </div>
</div>
