<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>支付订单</title>
    <link rel="stylesheet" type="text/css" href="assets/css/download_check.css">
    <!-- <script type="text/javascript" src="/wap/m/assets/js/get_consts.js"></script>
    <script type="text/javascript" src="/wap/m/assets/js/get_wechat.js"></script> --> 
</head>
<body>
<div id="wrap">
	<div class="main">
		<div class="success-img"></div>
		<div class="btns">
			<a class="to-order" href="javascript:;">查看合同</a>
			<a class="to-index" href="javascript:;">下载合同</a>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="assets/js/build/common.build.js"></script>
<script type="text/javascript" src="assets/js/build/download_check.build.js"></script>
</html>