<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>导游报账列表</title>
    <link rel="stylesheet" type="text/css" href="assets/css/guide_list.css">
    <!-- <script type="text/javascript" src="assets/js/get_consts.js"></script>
    <script type="text/javascript" src="assets/js/get_wechat.js"></script> -->   
</head>
<body>
<div id="wrap">
  <div class="acti_header">导游报账列表
    <a class="lef" href="/center.html"></a>
    <span class="noly" style="display: none;"><span class="nol"></span>只看自己</span>
    <a class="rig" href="javascript:;"></a>
  </div>
  <div class="main">
    
    <div class="main_t">
      <script id="tpl-condition" type="text/html">
      {if data}
      {each data as value i}
        <dl>
          <dt>{i}</dt>
          {each data[i] as value j}
          <dd>
            <a href="/guide_index.html?id={data[i][j].team_id}">
            <div class="tit">{data[i][j].team_p_name}</div>
            <div class="cont">
              <div class="lefts">
                <span class="tim"><span></span>{data[i][j].team_num}</span>
                <span class="tim tims"><span></span>{data[i][j].team_start_date}至{data[i][j].team_end_date}</span>
                <span class="gui">导游：
                  {if data[i][j].team_local_guide_name}
                    {data[i][j].team_local_guide_name}
                    {else}
                    未安排
                  {/if}
                </span>
              </div>
              <div class="rights">
                <p>{data[i][j].team_saled}人</p>
                <span class="adu">{data[i][j].team_adult}大{data[i][j].team_children}小</span>
                {if data[i][j].team_credit_status == '未报账'}
                <span class="gui_z gui_w">{data[i][j].team_credit_status}</span>
                {else if data[i][j].team_credit_status == '报账中'}
                <span class="gui_z gui_b">{data[i][j].team_credit_status}</span>
                {else if data[i][j].team_credit_status == '审核中'}
                <span class="gui_z gui_s">{data[i][j].team_credit_status}</span>
                {else if data[i][j].team_credit_status == '已驳回'}
                <span class="gui_z gui_y">{data[i][j].team_credit_status}</span>
                {else if data[i][j].team_credit_status == '已完成'}
                <span class="gui_z gui_c">{data[i][j].team_credit_status}</span>
                {/if}
              </div>
            </div>
          </a>
          </dd>
          {/each}
        </dl>
      {/each}
      {else}
      <p class="cxs">没有查询到数据！</p>
      {/if}
      </script>
    </div>
    
    <div class="sear">
      <div class="acti_he">搜索
        <a class="lef_two" href="javascript:;"></a>
        <a class="rig_two" href="javascript:;">清空</a>
      </div>
      <div class="butt butts">确认查询</div>
      <div class="station">
        <div class="station_son">
          <div class="station_dis">
            <label class="ric" for="">出团日期</label>
            <input placeholder="选择团队日期" type="date" class="dates">
            <span class="downs"></span>
          </div>
        </div>
        <div class="station_son">
          <div class="station_dis">
            <label for="">快捷搜索</label>
            <input class="datese" placeholder="团号、产品名称、导游" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="assets/js/build/common.build.js"></script>
<script type="text/javascript" src="assets/js/build/guide_list.build.js"></script>
</html>