<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>定制游</title>
    <link rel="stylesheet" type="text/css" href="assets/css/made_success.css">
</head>
<body>
<div id="wrap">
	<div class="success">
		<div class="header">
			
		</div>
		<div class="cont">
			<div class="tit">提示信息</div>
			<div class="conts">
				<!-- 恭喜您提交成功，我们定制师会根据您的需求提供温暖
的出行方案，在4个小时内联系您，请保持联系畅通。
请在尚品组团社微信公众号手机端[我的—定制游]跟进
定制旅游方案进度，感谢您的支持！ -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您提交成功，我们定制师会根据您的需求提供温暖的出行方案，应答时间：出长48h，出短24h，国内4h内，22:00--次日9:00 只接单不应单，请保持联系畅通。</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请在尚品组团社微信公众号手机端[我的—定制游]跟进定制旅游方案进度，感谢您的支持！
			</div>
		</div>
	</div>
	<div class="err">
		<div class="err-header"></div>
		<div class="sory">对不起！提交失败！</div>
	</div>
	<a class="back_index" href="index.html">返回首页</a>
</div>
</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="assets/js/build/common.build.js"></script>
<script type="text/javascript" src="assets/js/build/made_success.build.js"></script>
</html>