<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>定制游</title>
    <link rel="stylesheet" type="text/css" href="assets/css/made_noright.css">
    <script type="text/javascript" src="assets/js/get_consts.js"></script>
    <script type="text/javascript" src="assets/js/get_wechat.js"></script> 
</head>
<body>
<div id="wrap">
    <div class="main">
        <div class="no-right">
            <img src="assets/img/noright.png">
        </div>

        <div class="tips">
            <p>对不起！您无权限查看产品，</p>
            <p> 返回首页浏览其他产品吧！</p>
        </div>

        <div class="new-list">
        	<a href="index.html">返回首页</a>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="assets/js/build/common.build.js"></script>
<script type="text/javascript" src="assets/js/build/made_noright.build.js"></script>
</html>