<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>买家订单</title>
    <link rel="stylesheet" type="text/css" href="assets/css/order_list_buyer.css">
    <script type="text/javascript" src="assets/js/get_consts.js"></script>
    <script type="text/javascript" src="assets/js/get_wechat.js"></script> 
</head>
<body>
<div id="wrap">
    <div class="main">
        <div class="t-bar"><a class="left"></a><span class="list-name">订单列表</span><a class="right"></a></div>
        <div class="infor-bar">
            <ul class="clearfix">
                <li typ = "全部" typeNum=""><a href="javascript:;" class="active" typeNum="">全部</a></li>
                <li typ = "待审核" typeNum="0"><a href="javascript:;" typeNum="0">待审核</a></li>
                <li typ = "已预订" typeNum="1"><a href="javascript:;" typeNum="1">已预订</a></li>
               
                <li typ = "已预定" typeNum="3"><a href="javascript:;" typeNum="3">已预定</a></li>
                <li typ = "已订购" typeNum="6"><a href="javascript:;" typeNum="6">已订购</a></li>
                <li typ = "已驳回" typeNum="4"><a href="javascript:;" typeNum="4">已驳回</a></li>
            </ul>
        </div>
        <div class="lists">
            <div class="content">
                <li num = '{ list[i].o_number }' status = '{list[i].o_status}' real = '{ list[i].o_settle_real }' prod='{ list[i].o_product_name }' org_name='{ list[i].org_name }' ids='{ list[i].order_id }'>
                    <a href="order_detail.html?n={ list[i].o_number }&order_type={ order_type }">
                        <div class="title clearfix">
                            <div class="infor">
                                <label class="state bg-blue">待审核</label>
                                <div class="numb">[1233321]哈哈哈哈或或或或或或或</div>
                            </div>
                        </div>
                        <div class="detail clearfix">
                            <h3>三生三世</h3>
                            <div class="left">
                                <div class="valid-date">
                                <span>222</span> &nbsp 至 &nbsp <span>222222</span>
                                <div class="money">￥<span>222222</span></div>
                                </div>
                                <div class="sell-date"><span>售：222222</span>&nbsp; <span> 订单号:22222222222</span>    
                                    <span class="type">
                                    </span>
                                </div>

                            </div>
                        </div>
                    </a>                 
                </li> 
                <li num = '{ list[i].o_number }' status = '{list[i].o_status}' real = '{ list[i].o_settle_real }' prod='{ list[i].o_product_name }' org_name='{ list[i].org_name }' ids='{ list[i].order_id }'>
                    <a href="order_detail.html?n={ list[i].o_number }&order_type={ order_type }">
                        <div class="title clearfix">
                            <div class="infor">
                                <label class="state bg-red">已预定</label>
                                <div class="numb">[1233321]哈哈哈哈或或或或或或或</div>
                            </div>
                        </div>
                        <div class="detail clearfix">
                            <h3>三生三世</h3>
                            <div class="left">
                                <div class="valid-date">
                                <span>222</span> &nbsp 至 &nbsp <span>222222</span>
                                <div class="money">￥<span>222222</span></div>
                                </div>
                                <div class="sell-date"><span>售：222222</span>&nbsp; <span> 订单号:22222222222</span>    
                                    <span class="type">
                                    </span>
                                </div>
                                <div class="pay-status clearfix">
                                    <p>待付尾款：<span>2000.00</span></p>
                                    <p>已付首款：<span>2000.00</span></p>
                                    
                                </div>
                            </div>
                        </div>
                    </a>                 
                </li>            
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="assets/js/build/common.build.js"></script>
<script type="text/javascript" src="assets/js/build/order_list_buyer.build.js"></script>
</html>