<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>支付订单</title>
    <link rel="stylesheet" type="text/css" href="assets/css/pay_success.css">
    <!-- <script type="text/javascript" src="/wap/m/assets/js/get_consts.js"></script>
    <script type="text/javascript" src="/wap/m/assets/js/get_wechat.js"></script> --> 
</head>
<body>
<div id="wrap">
	<div class="main">
		<div class="success-img"></div>
		<div style="margin-top: 10px;" class="tex">预定成功！</div>
		<div class="tex">请等待管理员审核！</div>
		<div class="btns">查看订单详情</div>
	</div>
</div>
</body>
<script type="text/javascript" src="assets/js/build/common.build.js"></script>
<script type="text/javascript" src="assets/js/build/pay_success.build.js"></script>
</html>