.tab_1 {background-image:url(../Images/zx.gif) !important;}
.tab_2 {background-image:url(../Images/factor.gif) !important;}
.tab_3 {background-image:url(../Images/extjs.png) !important;}
.tab_4 {background-image:url(../Images/drop-between.gif) !important;}
.tab_5 {background-image:url(../Images/factor.gif) !important;}
.tab_6 {background-image:url(../Images/cmp.gif) !important;}
.tab_7 {background-image:url(../Images/config.gif) !important;}
.tab_8 {background-image:url(../Images/article.gif) !important;}
.tab_9 {background-image:url(../Images/setup.png) !important;}
.tab_10 {background-image:url(../Images/sjsb1.gif) !important;}
.tab_14 {background-image:url(../Images/user.gif) !important;}
.tab_20 {background-image:url(../Images/group.png) !important;}
.tab_24 {background-image:url(../Images/group_key.png) !important;}
.tab_29 {background-image:url(../Images/tb3.gif) !important;}
.tab_30 {background-image:url(../Images/logout.gif) !important;}
.tab_31 {background-image:url(../Images/msg.gif) !important;}
.tab_32 {background-image:url(../Images/comment.gif) !important;}
.tab_36 {background-image:url(../Images/article.gif) !important;}
.tab_40 {background-image:url(../Images/folder_bug.png) !important;}
.tab_42 {background-image:url(../Images/cmp.gif) !important;}
.tab_43 {background-image:url(../Images/folder_brick.png) !important;}
.tab_44 {background-image:url(../Images/folder_feed.png) !important;}
.tab_45 {background-image:url(../Images/folder_table.png) !important;}
.tab_47 {background-image:url(../Images/plugin.gif) !important;}
.tab_52 {background-image:url(../Images/server2.gif) !important;}
