<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdy.b2b.api.dao.BusiLogsMapper">
  <resultMap id="BaseResultMap" type="com.jdy.b2b.api.model.BusiLogs">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bl_company" jdbcType="VARCHAR" property="blCompany" />
    <result column="bl_username" jdbcType="VARCHAR" property="blUsername" />
    <result column="bl_account" jdbcType="VARCHAR" property="blAccount" />
    <result column="bl_description" jdbcType="VARCHAR" property="blDescription" />
    <result column="bl_module" jdbcType="VARCHAR" property="blModule" />
    <result column="bl_pid" jdbcType="BIGINT" property="blPid" />
    <result column="bl_method" jdbcType="VARCHAR" property="blMethod" />
    <result column="bl_domain" jdbcType="VARCHAR" property="blDomain" />
    <result column="bl_ip" jdbcType="VARCHAR" property="blIp" />
    <result column="bl_browser" jdbcType="VARCHAR" property="blBrowser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bl_company, bl_username, bl_account, bl_description, bl_module, bl_pid, bl_method, 
    bl_domain, bl_ip, bl_browser, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sm_busi_logs
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectLogsByModuleAndPid" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM sm_busi_logs WHERE bl_module = #{blModule,jdbcType=VARCHAR}
    AND bl_pid =  #{blPid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sm_busi_logs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jdy.b2b.api.model.BusiLogs">
    insert into sm_busi_logs (id, bl_company, bl_username, 
      bl_account, bl_description, bl_module, 
      bl_pid, bl_method, bl_domain, 
      bl_ip, bl_browser, create_time, 
      create_user, update_time, update_user
      )
    values (#{id,jdbcType=BIGINT}, #{blCompany,jdbcType=VARCHAR}, #{blUsername,jdbcType=VARCHAR}, 
      #{blAccount,jdbcType=VARCHAR}, #{blDescription,jdbcType=VARCHAR}, #{blModule,jdbcType=VARCHAR}, 
      #{blPid,jdbcType=BIGINT}, #{blMethod,jdbcType=VARCHAR}, #{blDomain,jdbcType=VARCHAR}, 
      #{blIp,jdbcType=VARCHAR}, #{blBrowser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jdy.b2b.api.model.BusiLogs">
    insert into sm_busi_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="blCompany != null">
        bl_company,
      </if>
      <if test="blUsername != null">
        bl_username,
      </if>
      <if test="blAccount != null">
        bl_account,
      </if>
      <if test="blDescription != null">
        bl_description,
      </if>
      <if test="blModule != null">
        bl_module,
      </if>
      <if test="blPid != null">
        bl_pid,
      </if>
      <if test="blMethod != null">
        bl_method,
      </if>
      <if test="blDomain != null">
        bl_domain,
      </if>
      <if test="blIp != null">
        bl_ip,
      </if>
      <if test="blBrowser != null">
        bl_browser,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blCompany != null">
        #{blCompany,jdbcType=VARCHAR},
      </if>
      <if test="blUsername != null">
        #{blUsername,jdbcType=VARCHAR},
      </if>
      <if test="blAccount != null">
        #{blAccount,jdbcType=VARCHAR},
      </if>
      <if test="blDescription != null">
        #{blDescription,jdbcType=VARCHAR},
      </if>
      <if test="blModule != null">
        #{blModule,jdbcType=VARCHAR},
      </if>
      <if test="blPid != null">
        #{blPid,jdbcType=BIGINT},
      </if>
      <if test="blMethod != null">
        #{blMethod,jdbcType=VARCHAR},
      </if>
      <if test="blDomain != null">
        #{blDomain,jdbcType=VARCHAR},
      </if>
      <if test="blIp != null">
        #{blIp,jdbcType=VARCHAR},
      </if>
      <if test="blBrowser != null">
        #{blBrowser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdy.b2b.api.model.BusiLogs">
    update sm_busi_logs
    <set>
      <if test="blCompany != null">
        bl_company = #{blCompany,jdbcType=VARCHAR},
      </if>
      <if test="blUsername != null">
        bl_username = #{blUsername,jdbcType=VARCHAR},
      </if>
      <if test="blAccount != null">
        bl_account = #{blAccount,jdbcType=VARCHAR},
      </if>
      <if test="blDescription != null">
        bl_description = #{blDescription,jdbcType=VARCHAR},
      </if>
      <if test="blModule != null">
        bl_module = #{blModule,jdbcType=VARCHAR},
      </if>
      <if test="blPid != null">
        bl_pid = #{blPid,jdbcType=BIGINT},
      </if>
      <if test="blMethod != null">
        bl_method = #{blMethod,jdbcType=VARCHAR},
      </if>
      <if test="blDomain != null">
        bl_domain = #{blDomain,jdbcType=VARCHAR},
      </if>
      <if test="blIp != null">
        bl_ip = #{blIp,jdbcType=VARCHAR},
      </if>
      <if test="blBrowser != null">
        bl_browser = #{blBrowser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdy.b2b.api.model.BusiLogs">
    update sm_busi_logs
    set bl_company = #{blCompany,jdbcType=VARCHAR},
      bl_username = #{blUsername,jdbcType=VARCHAR},
      bl_account = #{blAccount,jdbcType=VARCHAR},
      bl_description = #{blDescription,jdbcType=VARCHAR},
      bl_module = #{blModule,jdbcType=VARCHAR},
      bl_pid = #{blPid,jdbcType=BIGINT},
      bl_method = #{blMethod,jdbcType=VARCHAR},
      bl_domain = #{blDomain,jdbcType=VARCHAR},
      bl_ip = #{blIp,jdbcType=VARCHAR},
      bl_browser = #{blBrowser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>