<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdy.b2b.api.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.jdy.b2b.api.model.City">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="fename" jdbcType="VARCHAR" property="fename" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="map_x" jdbcType="VARCHAR" property="mapX" />
    <result column="map_y" jdbcType="VARCHAR" property="mapY" />
    <result column="map_z" jdbcType="VARCHAR" property="mapZ" />
    <result column="istop" jdbcType="BIT" property="istop" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="isopen" jdbcType="BIT" property="isopen" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, code, name, ename, fename, pid, level, map_x, map_y, map_z, istop, status, 
    area, isopen, group_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getContinents" resultType="hashmap">
    select 
    id,name
    from cm_city
    where type !='CN' and level =1
  </select>
  <select id="getCountriesByPid" resultType="hashmap">
    select 
    id,name
    from cm_city
    where pid =#{pid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cm_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jdy.b2b.api.model.City">
    insert into cm_city (id, type, code, 
      name, ename, fename, 
      pid, level, map_x, map_y, 
      map_z, istop, status, area, 
      isopen, group_id)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR}, #{fename,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{mapX,jdbcType=VARCHAR}, #{mapY,jdbcType=VARCHAR}, 
      #{mapZ,jdbcType=VARCHAR}, #{istop,jdbcType=BIT}, #{status,jdbcType=BIT}, #{area,jdbcType=VARCHAR}, 
      #{isopen,jdbcType=BIT}, #{groupId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jdy.b2b.api.model.City">
    insert into cm_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ename != null">
        ename,
      </if>
      <if test="fename != null">
        fename,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="mapX != null">
        map_x,
      </if>
      <if test="mapY != null">
        map_y,
      </if>
      <if test="mapZ != null">
        map_z,
      </if>
      <if test="istop != null">
        istop,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="isopen != null">
        isopen,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="fename != null">
        #{fename,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="mapX != null">
        #{mapX,jdbcType=VARCHAR},
      </if>
      <if test="mapY != null">
        #{mapY,jdbcType=VARCHAR},
      </if>
      <if test="mapZ != null">
        #{mapZ,jdbcType=VARCHAR},
      </if>
      <if test="istop != null">
        #{istop,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="isopen != null">
        #{isopen,jdbcType=BIT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdy.b2b.api.model.City">
    update cm_city
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="fename != null">
        fename = #{fename,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="mapX != null">
        map_x = #{mapX,jdbcType=VARCHAR},
      </if>
      <if test="mapY != null">
        map_y = #{mapY,jdbcType=VARCHAR},
      </if>
      <if test="mapZ != null">
        map_z = #{mapZ,jdbcType=VARCHAR},
      </if>
      <if test="istop != null">
        istop = #{istop,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="isopen != null">
        isopen = #{isopen,jdbcType=BIT},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdy.b2b.api.model.City">
    update cm_city
    set type = #{type,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      ename = #{ename,jdbcType=VARCHAR},
      fename = #{fename,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      map_x = #{mapX,jdbcType=VARCHAR},
      map_y = #{mapY,jdbcType=VARCHAR},
      map_z = #{mapZ,jdbcType=VARCHAR},
      istop = #{istop,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      area = #{area,jdbcType=VARCHAR},
      isopen = #{isopen,jdbcType=BIT},
      group_id = #{groupId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>