.idea/
b2b-mybatis/target/classes/com/jdy/b2b/api/dao/WxCustomMapper.class
b2b-mybatis/target/classes/com/jdy/b2b/api/dao/TransportMapper.class
b2b-mybatis/target/classes/com/jdy/b2b/api/dao/City3Mapper.class
b2b-controllCenter/target/classes/com/jdy/b2b/api/controller/ProductsDetailController.class
b2b-controllCenter/target/
b2b-sales/target/
b2b-mybatis/target/
b2b-systemCenter/.settings/
common-utils/.settings/
common-utils/target/
b2b-controllCenter/.settings/
b2b-sales/.settings/
b2b-mybatis/.settings/
b2b-controllCenter/logs/b2b-controllerCenter-2017-07-07.log
b2b-controllCenter/logs/
b2b-sales/logs/
common-utils/.classpath
logs/b2b-controllCenter.log
logs/b2b-sales.log
common-utils/common-utils.iml
common-utils/.project
b2b-systemCenter/b2b-systemCenter.iml
b2b-systemCenter/.project
b2b-systemCenter/.classpath
b2b-mybatis/template/sqlmapping.txt
b2b-mybatis/b2b-mybatis.iml
b2b-mybatis/.project
b2b-mybatis/.classpath
b2b-controllCenter/b2b-controllCenter.iml
b2b-controllCenter/.project
b2b-controllCenter/.classpath
b2b-sales/b2b-sales.iml
b2b-sales/.project
b2b-sales/.classpath
b2b-api.iml
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
b2b-systemCenter/target/
logs/
